<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAk7wvXtFYpvva0sUf6T_2mABhhkPT_erw</string>
	<key>GCM_SENDER_ID</key>
	<string>833098319872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stoo.jotunAppp</string>
	<key>PROJECT_ID</key>
	<string>jotun-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>jotun-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833098319872:ios:f0a9d741ed7d15f726b0e5</string>
</dict>
</plist>